name: Release mosdns

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

jobs:
  build-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'
          check-latest: true

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.14'
          check-latest: true

      - name: Install UPX
        run: sudo apt-get update && sudo apt-get install -y upx

      - name: Build
        run: python ./release.py
        env:
          CGO_ENABLED: '0'

      - name: UPX compress binaries
        run: |
          find ./release -maxdepth 2 -type f -name "mosdns*" -exec upx --best --lzma {} \;

      - name: Create ZIP package
        run: |
          cd release
          zip -r mosdns-output.zip ./*
